<% if venues.present? %>
    <% venues.each do |venue| %>
        <div class="card p-0 home-page-venues" style="width:25%">
            <% if venue.image.present? %>
                <%= image_tag(venue.image, class: "card-img-top") %> 
            <% else %>
                <img src="" class= "card-img-top" style="height:180px;">
            <% end %>
            <div class="card-body">
                <div class="card-text">
                    <%= link_to venue.listing_name, venue_path(venue), class: "stretched-link" %>
                </div>
            </div>
        </div> 
    <% end %>
<% else %>
    <h4 style="margin-bottom:35px; color: #aaa">No venues found at this location</h4>
<% end %>