<div class="row">
    <div class="col-3">
        <%= render 'venue_menu' %>
    </div>
    
    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Venue Amenities</h5>
                <div class="card-text">

                    <%= form_for @venue do |f| %>
                        
                    <% end %>

                </div>
            </div>
        </div>
    </div>

</div>