<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create Venue</h5>
                <div class="card-text">

                    <%= form_for @venue do |f| %>

                        <div class="row">
                            <div class="col-md-6 select">
                                <div class="form-group">
                                <label>Type:</label>
                                <%= f.select :venue_type, [["Hall", "Hall"], ["Hotel", "Hotel"], ["House", "House"]], {prompt: "Select"}, {id: "type", class: "custom-select"} %>
                                </div>
                            </div>

                            <div class="col-md-6 select">
                                <div class="form-group">
                                <label>Accommodate:</label>
                                <%= f.select(:accommodate, [["< 50", "50"], ["< 100", "100"], ["< 200", "200"]], {prompt: "Select"}, {id: "accommodate", class: "custom-select"}) %>
                                </div>
                            </div>
                        </div>
                        <div><%= f.submit "Create Venue", class: "btn btn-success" %></div>

                    <% end %>

                </div>
            </div>
        </div>
    </div>
</div>