// CUSTOM
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap/scss/bootstrap";
@import "toastr";

body{
    width:100vw;
    height:100vh;
    background:#eee;
}

body > .container{
    padding-top: 3.5rem;
}

.row.venue-profile{
    margin-top: -3.5rem;
}

.card{
    box-shadow: 0px 1px 7px rgba(0,0,0,0.1)
}

nav {padding: 0.5rem 1rem};
.form-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.rounded-circle.avatar{
    width:36px;
    height:36px;
}

.home-page-venues{
    width:32%
}

.row .home-page-venues:not(:last-child){
    margin-right:2%;
    margin-bottom: 45px;
}

.row .home-page-venues{
    margin-bottom: 45px;
}

// SEARCH PAGE

#main {
    height: 100%;
    // overflow: hidden;
}

#left{
    // padding: 10px 400px 10px 20px;
    // overflow: scroll;
    height: 100%;
}

#right{
    position: fixed;
    top: 68px;
    right: 0;
    width: 450px;
    height: calc(100% - 68px);
}

.map_price{
    text-align:center;
    font-size: 16px;
    font-weight:600;
    color: #555;
    padding-right:10px;
}

.card-img-top{
    max-height: 20vh;
    object-fit: cover;
}